@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

@layer components {
    .box {
        min-height: 1rem;
        border: 1px solid red;
        font-size: 1rem;
        background-color: lightblue;
    }

    #account h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.1px;
    }
    
    #account h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: 0.2px;
    }

    #account h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0.2px;
    }

    #account__img {
        background-image: url(../images/account.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 581px;
        width: 650px;
        filter: drop-shadow(15px 10px 20px #2E040426);
    }

    @media (min-width: 768px) {
        #account__img {
            background-image: url(../images/account-lg.png);
            width: 20.97222vw;
            height: 36.45833vw;
            margin-right: 11.80555%;
        }
    }
}